body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('white_glitter.jpg');
  font-family: 'Lobster', cursive;
}

nav{
  background-color: pink;
}

.card{
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;

}

img{
  width: 20vw;
  align-self: center;
}

.jumbotron{
  background-color: pink;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.jumbotron button{

}
